.login {
  display: flex;
  font-family: "Michroma", sans-serif;
  justify-content: center;
  margin-top: 8em;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid $lightblueTron;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px lighten($cyanTron, 10%),
    inset 0px 0px 15px 1px $cyanTron;
  height: 65vh;
  min-height: 600;
  min-width: 500;
  width: auto;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;

  h2 {
    text-align: center;
    user-select: none;
  }
  .title {
    margin-top: 50px;
    font-family: "Faster One", cursive;
    font-size: 60px;
    font-weight: lighter;
    user-select: none;
  }

  .signIn {
    $buttonColor: $basestar;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: darken($yellowTron, 5%);
    display: flex;
    justify-content: flex-start;
    color: $buttonColor;
    width: 180px;
    height: 60px;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
    fill: $buttonColor;
    box-shadow: 0px 0px 10px 3px $orangeTron;

    :hover {
      background-color: $lightblueTron;
      border-radius: 6px;
      box-shadow: 0px 0px 8px 2px $cyanTron;
    }

    :active {
      background-color: $deepblueTron;
      border-radius: 6px;
      box-shadow: 0px 0px 8px 8px $lightblueTron,
        inset 0px 0px 8px 3px $lightblueTron;
    }

    .githubButton {
      user-select: none;
      text-decoration: none;
      width: 100%;
      align-items: center;
      color: inherit;
      font-size: 100%;
      display: flex;
      justify-content: center;
      span {
        width: 1fr;
        font-weight: 800;
      }
      :hover {
        background-color: $lightblueTron;
        border-radius: 6px;
        box-shadow: 0px 0px 8px 2px $cyanTron;
      }

      &:active {
        fill: $lightblueTron;
        color: $lightblueTron;
      }
    }
  }
}

.githubButtonText {
  user-select: none;
  text-decoration: none;
  display: flex;
  font-size: 100%;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
  color: inherit;
  &:active {
    fill: $lightblueTron;
    color: $lightblueTron;
  }
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Toggle this class - hide and show the popup */
  .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
